<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Error_MultipleValuesNullOrEmpty</key>
	<dict>
		<key>value</key>
		<string>One of the properties is empty:</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Error_ValueNullOrEmpty</key>
	<dict>
		<key>value</key>
		<string>The property %@ is empty or null.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ErrorID_Websocket</key>
	<dict>
		<key>value</key>
		<string>9901</string>
		<key>comment</key>
		<string>Not connected to websocket.</string>
	</dict>
	<key>ErrorID_NoSession</key>
	<dict>
		<key>value</key>
		<string>9902</string>
		<key>comment</key>
		<string>No session started.</string>
	</dict>
	<key>Error_NoDescription</key>
	<dict>
		<key>value</key>
		<string>No error description.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ErrorID_JsonEncoding</key>
	<dict>
		<key>value</key>
		<string>9903</string>
		<key>comment</key>
		<string>Json object couldn&apos;t be encoded.</string>
	</dict>
	<key>ErroID_InvalidResponse</key>
	<dict>
		<key>value</key>
		<string>9905</string>
		<key>comment</key>
		<string>Invalid Response</string>
	</dict>
	<key>Common_ErrorDomain</key>
	<dict>
		<key>value</key>
		<string>SpeaKINGiOSFramework</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Common_DateFormat</key>
	<dict>
		<key>value</key>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSSSSSSXXXXX</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>Common_DateFormat_Orig</key>
	<dict>
		<key>value</key>
		<string>yyyy-MM-dd&apos;T&apos;HH:mm:ssXXXXX</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ErrorID_Audio</key>
	<dict>
		<key>value</key>
		<string>9904</string>
		<key>comment</key>
		<string>An unknown error occured while recording. Please try again and check your permission settings</string>
	</dict>
	<key>Error_StringEmpty</key>
	<dict>
		<key>value</key>
		<string>The passed string is empty.</string>
		<key>comment</key>
		<string>Pass a nonempty string to prevent exceptions.</string>
	</dict>
	<key>Error_NullObject</key>
	<dict>
		<key>value</key>
		<string>The object is null.</string>
		<key>comment</key>
		<string>The object can&apos;t be null.</string>
	</dict>
</dict>
</plist>
